<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Vinculos</h3>
          <ul>
            <li>
              <a routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLink="/pokemon">Pokemones</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de Pokemon API Poli</h3>
          <ul>
            <li><a href="https://pokeapi.co/">API Original</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Desarrolladores</h3>
          <ul>
            <li>Jonathan Castelblanco Higuera <strong>Cod:</strong>1911980750</li>
            <li>Juan Sebastian Terreros Espinosa</li>
            <li>Grabiel David Martinez Sandino</li>
            <li>Eulicer Camacho Martínez</li>
            <li>Andres Fernando Marles Agudelo</li>
            <li>Jonathan Castelblanco Higuera</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
